---
import Hello from '../components/Hello';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MTG Explorer</title>
	</head>
	<body>
		<Hello client:load message="Willkommen beim MTG Explorer" />
		<p>
			Entdecke unsere erste Kartenliste mit Daten direkt von der Scryfall-API.
			<a href="/cards">Zur Kartenliste</a>
		</p>
	</body>
</html>
